/*Colores para letras*/
.white{
	color: white;
}
.azul{
	color:#61C2FC;
}
.azulm{
	color: #0368A5;
}
.fondo{
	background-image: url("../image/large.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}
.fa{
	background-color: 
}
.video{
	width: 100%;
}
.azulback{
	background-color: #0369B9;
}
.marback{
	background-color: #080A29;
}
/*Checar como funciona*/
#sep {
	padding: 4% 0%;
	position: relative;
}
#sep img{
	position: absolute;
	left:45%;
	top:50%;
	transform: translateY(-50%);
}